<div class="container py-5" [@animate]="{value:'*', params:{ scale:'.9', delay:'400ms' }}">
	<div class="row">
		<div class="offset-2 col-md-8 card py-5 px-3 text-center">
			<h4 class="text-muted m-0">Welcome to Platform <span class="mx-2">|</span> 2 User types</h4>
			
			<div class="text-left text-justify text-muted">
				<br>
				Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
				<br> <br>
				Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.

				Lorem ipsum dolor sit amet, veri modus conceptam mel cu, has in dictas discere qualisque, saperet ullamcorper ad eum.
			</div>
			
		</div>
	</div>
</div>


